<div class="interviewer_explanation">
 <div>
  Before sending the candidate the email, please add the candidate here,
  and provide them with the key.
 </div>
<br>

<ul style="text-align:left">
 <li>
   <strong> Evil Long Response </strong> - Interview going too fast? Response will return after 28 seconds (30 is heroku limit)
 </li>

 <li>
   <strong> Evil Malformed </strong> - If parsing the response seems a bit too easy.. This will make it a malformed json with random behavior
 </li>

 <li>
   <strong> Evil Wrong Results </strong> - Api will return a special person - Wrongy McWrongface
 </li>

 <li>
   <strong> Evil Throttling</strong> - SetTimeout a little bit trigger happy? This will throttle the requests, and if a request comes in the cooldown period it will increase it. Muhhaha
 </li>
</ul>
</div>

<div class="candidate_main">

  New Candidate:
  <%= form_for Candidate.new, html: {class: "pure-form"} do |f| %>
   <fieldset>
   <%= f.text_field :name, placeholder: "Candidate Name"%>
   <%= f.submit "Add", class: "pure-button pure-button-primary" %>
  </fieldset>
  <% end %>


  <table class="pure-table  pure-table-bordered">
  <thead>
    <tr>
     <th>name</th>
     <th>key</th>
     <th>evil?</th>
    </tr>
   </thead>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.name %></td>
        <td><%= candidate.key %> <%= invitation_mail(candidate.key) %></td>
        <td>
        <% candidate.attribute_names.select{|x| x.starts_with?("evil")}.map do |attr| %>
            <%= button_to attr.titleize, candidate_evil_path(@profile, id: candidate.id, attr: attr), method: :post, class: "evil #{candidate.send(attr) ? 'it-been-done' : ''} pure-button" %>
        <% end %>
       </td>
      </tr>
    <% end %>
  </table>

</div>
